<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="java" path="*" verb="*" modules="isapiModule"
           scriptProcessor="D:\Program Files\Java\zulu17\bin\java.exe|-jar|D:\home\site\wwwroot\app.jar"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
