<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="java" path="*" verb="*" modules="IsapiModule"
           scriptProcessor="%SystemDrive%\Program Files\Java\jdk21\bin\java.exe|-jar \"%HOME%\site\wwwroot\app.jar\""
           resourceType="Either" requireAccess="Execute" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticContent">
          <action type="None" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
