/* muda a fonte do swagger */
.swagger-ui {
  background-color: #FDFFFD;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

/* cor de fundo do header */
.swagger-ui .topbar {
  background-color: #44A1A0; /* cor do sime */
  padding: 10px 20px;
}

/*sime docs*/
.swagger-ui .topbar .topbar-wrapper span {
    color: #ff0000;
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
}

/* tamanho da logo */
.swagger-ui .topbar a img {
    height: 40px;
    margin-right: 10px;
}

.swagger-ui .info a {
    color: #44A1A0;
    font-weight: bold;
}

.topbar .link svg {
    display: none;
}

.topbar .link {
  display: inline-block;
  height: 50px;
  background-image: url('../img/logo_sime.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.swagger-ui .topbar .download-url-wrapper input[type=text] {
    border: 2px solid #fff;
    background: none;
    color: #fff;
}

.swagger-ui .topbar .download-url-wrapper .download-url-button {
    background-color: #fff;
    color: #44A1A0;
}

/* cor dos botões */
.swagger-ui .btn {
  background-color: #44A1A0; /* cor do sime */
  color: #fff;
  /*border-radius: 8px;*/
  text-transform: uppercase;
  font-weight 300;
  transition: all 0.3s ease;
}

.swagger-ui .btn: hover {
    background: #ff000
}

.info__contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    padding-left: 60px;
    min-height: 50px;
}

.info__contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url('../img/logo_newo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}


/* títulos maiores */
.swagger-ui h2,
.swagger-ui h3 {
  color: #000;
  font-weight: bold;
}

.swagger-ui .opblock-tag {
    font-size: 18px;
    font-weight: 600;
    background: #fff;
    color: #44A1A0;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    font-family: var(--font-montserrat);
    font-weight: var(--fw-semibold);
}
