# URL de conexão com o banco local
DB_URL=jdbc:sqlserver://localhost;databaseName=DBS_SIME;encrypt=true;trustServerCertificate=true

# Usuário e senha do banco
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha
